<mat-card id="productCard">
    <mat-card-header>
      <mat-card-title id="title">{{name}}</mat-card-title>
      <mat-card-subtitle>Price: ${{price}}</mat-card-subtitle>
      <mat-card-subtitle>Brand: {{brand}} </mat-card-subtitle>
      <mat-card-subtitle>Category: {{category}} </mat-card-subtitle>
      <mat-card-subtitle>Colour(s): {{colour}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end" id="actions">
      <button mat-button class="button">Add</button>
    </mat-card-actions>
  </mat-card>
