#productCard{
    width: 300px;;
    margin: 20px;
    background-color: whitesmoke;
}
#title{
    font-size:x-large;
}
.button{
    background-color: #3c54b4;
    color: white;
}

.example-ripple-container {
    cursor: pointer;
  
    width: 300px;
    height: 190px;
    line-height: 300px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  mat-form-field {
    margin-right: 12px;
  }
