<button mat-raised-button color="primary" id="btnBackToProducts" class="return" (click)="goToPage('products')">Return to products</button>
<div class="container">
    <h1>{{product.name}}</h1>
    <div id="actions">
        <button mat-raised-button color="primary" id="btnBackToProducts" (click)="onDecrease()">-</button>
        <input matInput  type="number" min="0" readonly [value]="cant" >
        <button mat-raised-button color="primary" id="btnBackToProducts" (click)="onIncrease()">+</button> 
</div>

    </div>
    
<p>Price: ${{product.price}}</p>
<p>Brand: {{product.brand.name}}</p>
<p>Categroy: {{product.category.name}}</p>
<p>Color(s): {{product.colors}}</p>
<p>Stock: {{product.stock}}</p>
<p>Description: {{product.description}}</p>



