<h2>  Filter by:</h2>
<table>
    <td>
        <tr><mat-slide-toggle class="toggle">Text</mat-slide-toggle></tr>
        <tr><mat-form-field class="example-full-width">
            <mat-label id="textLabel">Text</mat-label>
            <input matInput>
          </mat-form-field></tr>
    </td>
    <td>
        <tr><mat-slide-toggle class="toggle">Brand</mat-slide-toggle></tr>
        <tr><mat-form-field>
        <mat-label>Brand</mat-label>
        <mat-select>
            <mat-option *ngFor="let brand of brands" [value]="brand.value">
            {{brand.value}}
            </mat-option>
        </mat-select>
        </mat-form-field></tr>
    </td>
    <td>
        <tr><mat-slide-toggle class="toggle">Category</mat-slide-toggle></tr>
        <tr><mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select>
                <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.value}}
                </mat-option>
            </mat-select>
            </mat-form-field></tr>
    </td>
    <td>
        <tr><mat-slide-toggle class="toggle">Price</mat-slide-toggle></tr>
        <tr>
            <mat-form-field class="priceField" floatLabel="always">
                <mat-label>Min price</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.0</span>
              </mat-form-field>

              <mat-form-field class="priceField" floatLabel="always">
                <mat-label>Max price</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.0</span>
              </mat-form-field>
        </tr>
    </td>
</table>
<button id="getResultsBtn" mat-raised-button color="primary">Get results</button>



