
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="user-avatar-icon" aria-label="User Avatar">
        <mat-icon *ngIf="auth">menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <nav>
        <button mat-raised-button class="navbutton" color="primary" (click)="goToPage('products')">Products</button>
        <button mat-raised-button class="navbutton" color="primary" (click)="goToPage('cart')">Cart</button>
        <button mat-raised-button class="navbutton" color="primary" (click)="goToPage('user')">User</button>
      </nav>
    </mat-toolbar>
  </p>
 
 