
#cartItem{
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    height: 40px;
}
#delete{
    background: none;
    border: none;
    margin: 7px;
    cursor: pointer;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 24px;
}
#itemName{
    font-size: 17px;
}