<div style="display: flex; justify-content: space-between; padding: 1rem">
  <div style="display: flex; gap: 1rem">
    <button id="vercarrito" class ="button" mat-raised-button color="primary" type="submit" (click)="goToPage('cart')">Ver Carrito</button>
    <button *ngIf="data != null && data.role > 1"  id="modulo" mat-raised-button color="primary" type="submit" (click)="goToAdmin()">Modulo Administrador</button>
  </div>
</div>


<form [formGroup]="userForm" (submit)="onSubmit()">

    <mat-form-field>
      <mat-label>Correo electronico</mat-label>
      <input *ngIf="data" [ngModel]="data.email" id="email" formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Direccion de entrega</mat-label>
      <input *ngIf="data" [ngModel]="data.address" value="Aca va la direccion" id="address" formControlName="address" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rol</mat-label>
      <input *ngIf="data" [ngModel]="data.role"  id="role" formControlName="role" matInput readonly>
    </mat-form-field>


    <button id="modificar"
    class="button" 
    mat-raised-button 
    color="primary" 
    type="submit"
    [disabled]="userForm.pristine"
    >Modificar
    </button>
</form>

<div class="purchaseList">
  <div class="titlePurchase">
      <h2>Purchases List</h2>
  </div>
  <app-purchase-history-item
      *ngFor="let purchase of purchases"
      [purchase]="purchase"
  >
  </app-purchase-history-item>
</div>
