<h1>Mi cart</h1>

<div id="contenedor">
    <div id="left">
        <p class="total"><span class="total-label">Total: $</span> {{total}}.0</p>
        <p>Price with promotion: {{priceWithPromotion}}$</p>
        <p>Promotion: {{promotionName}}</p>
        <div class="cart-list-wrapper">
            <app-cart-item  *ngFor="let item of cartItems" [cartItem]="item" (changeItemCant)="Refresh()"></app-cart-item>
        </div>
    </div>
    <div id="right">
        <button mat-raised-button color="primary" (click)="showHide()">{{buttonMessage}}</button>
        <app-paymentmethod *ngIf="showPayment" (deleteCart)="deleteCart()"></app-paymentmethod>
    </div>
</div>




